/* Google Fonts Link */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Noto+Sans&family=Poppins:wght@400;500;600;700&family=Roboto+Mono:ital,wght@0,100;1,400&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
.crapemyrtle-btn-book-now {
  background-color: white;
  /* color: white; */
  border-radius: 8px;
  padding: 9px 25px;
  border: none;
}
.crapemyrtle-btn-choose-plan {
  background-color: #ecd2e3ad;
}
.crapemyrtle-hot-tag {
  margin-top: -50px;
}
